.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.853027;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.947266;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{width:26.640000px;}
._5{width:97.920000px;}
._4{width:204.480000px;}
._2{width:276.480000px;}
._3{width:384.000000px;}
._7{width:385.920000px;}
._8{width:409.920000px;}
._6{width:420.480000px;}
._0{width:439.680000px;}
._1{width:458.880000px;}
.fc1{color:rgb(34,34,34);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:48.000000px;}
.fs1{font-size:56.000000px;}
.fs0{font-size:64.000000px;}
.y0{bottom:0.000000px;}
.y3a{bottom:84.544985px;}
.y1d{bottom:121.341006px;}
.y39{bottom:145.103030px;}
.y38{bottom:175.382021px;}
.y1c{bottom:181.898989px;}
.y1b{bottom:212.177981px;}
.y37{bottom:235.939974px;}
.y36{bottom:257.068972px;}
.y1a{bottom:272.735995px;}
.y19{bottom:293.864993px;}
.y35{bottom:448.569022px;}
.y34{bottom:483.791000px;}
.y18{bottom:485.365012px;}
.y33{bottom:499.976992px;}
.y32{bottom:515.962997px;}
.y17{bottom:520.586990px;}
.y16{bottom:536.773013px;}
.y31{bottom:539.192004px;}
.y15{bottom:552.758987px;}
.y30{bottom:560.321005px;}
.y14{bottom:575.987994px;}
.y13{bottom:597.116995px;}
.y2f{bottom:600.785989px;}
.y2e{bottom:616.871988px;}
.y2d{bottom:632.957986px;}
.y12{bottom:637.582010px;}
.y2c{bottom:649.044015px;}
.y11{bottom:653.668008px;}
.y2b{bottom:665.130002px;}
.y10{bottom:669.754007px;}
.y2a{bottom:681.266012px;}
.yf{bottom:685.840005px;}
.y29{bottom:697.301999px;}
.ye{bottom:701.925992px;}
.y28{bottom:713.438009px;}
.yd{bottom:718.062002px;}
.yc{bottom:734.098004px;}
.y27{bottom:736.517004px;}
.yb{bottom:750.233999px;}
.ya{bottom:773.312994px;}
.y26{bottom:777.032007px;}
.y25{bottom:791.118005px;}
.y9{bottom:813.827997px;}
.y24{bottom:819.512994px;}
.y8{bottom:827.913995px;}
.y23{bottom:833.312006px;}
.y22{bottom:847.111001px;}
.y7{bottom:856.309000px;}
.y21{bottom:861.342000px;}
.y6{bottom:870.108003px;}
.y20{bottom:877.441000px;}
.y5{bottom:883.906999px;}
.y1f{bottom:893.973002px;}
.y4{bottom:898.137998px;}
.y1e{bottom:912.370997px;}
.y3{bottom:914.236997px;}
.y2{bottom:930.769000px;}
.y1{bottom:949.166998px;}
.h5{height:33.351562px;}
.h6{height:34.382812px;}
.h4{height:37.953125px;}
.h3{height:38.910156px;}
.h2{height:43.375000px;}
.h1{height:44.468750px;}
.h0{height:1008.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.xa{left:68.649999px;}
.x1{left:121.139999px;}
.x7{left:127.868999px;}
.x3{left:151.280003px;}
.x6{left:161.561001px;}
.x5{left:205.559002px;}
.x2{left:212.242001px;}
.x9{left:230.536999px;}
.x4{left:265.423000px;}
.x8{left:274.335995px;}
.xb{left:293.799999px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{width:35.520000pt;}
._5{width:130.560000pt;}
._4{width:272.640000pt;}
._2{width:368.640000pt;}
._3{width:512.000000pt;}
._7{width:514.560000pt;}
._8{width:546.560000pt;}
._6{width:560.640000pt;}
._0{width:586.240000pt;}
._1{width:611.840000pt;}
.fs2{font-size:64.000000pt;}
.fs1{font-size:74.666667pt;}
.fs0{font-size:85.333333pt;}
.y0{bottom:0.000000pt;}
.y3a{bottom:112.726647pt;}
.y1d{bottom:161.788008pt;}
.y39{bottom:193.470706pt;}
.y38{bottom:233.842695pt;}
.y1c{bottom:242.531986pt;}
.y1b{bottom:282.903975pt;}
.y37{bottom:314.586632pt;}
.y36{bottom:342.758629pt;}
.y1a{bottom:363.647993pt;}
.y19{bottom:391.819990pt;}
.y35{bottom:598.092029pt;}
.y34{bottom:645.054667pt;}
.y18{bottom:647.153349pt;}
.y33{bottom:666.635990pt;}
.y32{bottom:687.950663pt;}
.y17{bottom:694.115987pt;}
.y16{bottom:715.697350pt;}
.y31{bottom:718.922672pt;}
.y15{bottom:737.011983pt;}
.y30{bottom:747.094674pt;}
.y14{bottom:767.983992pt;}
.y13{bottom:796.155994pt;}
.y2f{bottom:801.047986pt;}
.y2e{bottom:822.495984pt;}
.y2d{bottom:843.943982pt;}
.y12{bottom:850.109346pt;}
.y2c{bottom:865.392021pt;}
.y11{bottom:871.557344pt;}
.y2b{bottom:886.840002pt;}
.y10{bottom:893.005342pt;}
.y2a{bottom:908.354682pt;}
.yf{bottom:914.453341pt;}
.y29{bottom:929.735998pt;}
.ye{bottom:935.901322pt;}
.y28{bottom:951.250678pt;}
.yd{bottom:957.416002pt;}
.yc{bottom:978.797338pt;}
.y27{bottom:982.022673pt;}
.yb{bottom:1000.311998pt;}
.ya{bottom:1031.083993pt;}
.y26{bottom:1036.042676pt;}
.y25{bottom:1054.824007pt;}
.y9{bottom:1085.103996pt;}
.y24{bottom:1092.683992pt;}
.y8{bottom:1103.885327pt;}
.y23{bottom:1111.082674pt;}
.y22{bottom:1129.481335pt;}
.y7{bottom:1141.745333pt;}
.y21{bottom:1148.456001pt;}
.y6{bottom:1160.144004pt;}
.y20{bottom:1169.921333pt;}
.y5{bottom:1178.542665pt;}
.y1f{bottom:1191.964003pt;}
.y4{bottom:1197.517331pt;}
.y1e{bottom:1216.494663pt;}
.y3{bottom:1218.982663pt;}
.y2{bottom:1241.025333pt;}
.y1{bottom:1265.555998pt;}
.h5{height:44.468750pt;}
.h6{height:45.843750pt;}
.h4{height:50.604167pt;}
.h3{height:51.880208pt;}
.h2{height:57.833333pt;}
.h1{height:59.291667pt;}
.h0{height:1344.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.xa{left:91.533332pt;}
.x1{left:161.519999pt;}
.x7{left:170.491999pt;}
.x3{left:201.706670pt;}
.x6{left:215.414668pt;}
.x5{left:274.078669pt;}
.x2{left:282.989334pt;}
.x9{left:307.382665pt;}
.x4{left:353.897334pt;}
.x8{left:365.781326pt;}
.xb{left:391.733332pt;}
}
